html, body {
  margin: 20;
  padding: 0;
}
p {
  color: blue;
  font-family: courier;
}
canvas {
  display: block;
}
.canvasDiv {
  border: 15px outset lightblue;
  background-color: lightblue;    
  ext-align: center;
}
.docuP {
  border: 15px outset lightblue;
  background-color: lightblue;    
  ext-align: center;
}
